.blueBtn {
    padding: 0.6rem 1.2rem;
    background: #2196F3;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.5rem;
    @media(min-width: 768px){
        font-size: 1rem;
    }
}

.borderBlueBtn{
    padding: 0.6rem 0.8rem;
    background-color: transparent;
    border:1px solid #2196F3;
    color: #2196F3;
}