@import "mixin";
@import "theme.scss";


.google_login {
  margin-top: 2rem;
  background: #fff;
  border: 1px solid #fff;
  padding: 0.6rem 0.8rem;
  @include flex();

  >img {
    @include square(2rem);
    cursor: pointer;
  }

  >h4 {
    color: #201717;
    font-weight: 500;
  }
}



.login {
  margin: 2rem;
}



.OR_with_line {
  margin: 2rem 1rem;
  width: 100%;
  position: relative;

  >hr {
    width: 70%;
    border: none;
    border-top: 2px dashed var(--textColor);
    margin: auto;
  }

  >h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bgColor);
    padding: 0 1rem;
  }
}