.passwordContainer {
    position: relative;

    >button {
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translate(-50%, -50%);
        cursor: pointer;
        outline: none;
        border: none;
        background-color: transparent;
    }
}