[data-theme="light"]{
    --bgColor:#F5F8FC;
    --textColor:#333;
    --headingColor:#444444;
    --mixBlendMode:multiply;
    --shadowColor:#766e6eeb;
 }

 [data-theme="dark"]{
     --bgColor:#333;
     --textColor:#F5F8FC;
     --headingColor:#F5F8FC;
     --mixBlendMode:overlay;
     --shadowColor:black;
  }