@import "mixin";
@import "theme.scss";
.video {
    cursor: pointer;
    transition: 0.5s ease-in;
    margin-bottom: 1rem;

    .thumbnail {

        >img {
            width: 100%;
            border-radius: 1rem;
            border: 2px solid var(--textColor);
            filter: drop-shadow(4px 6px 6px var(--shadowColor));
            // max-width: 350px;

            @media (min-width:768px) {
                width: 18.75rem;
                height: 12.5rem;

            }
        }


    }

    @media (min-width:768px) {

        margin: auto;

        &:hover {
            transform: scale(1.13)
        }
        &.disable-scaling{
            &:hover{
                transform: unset
            }
        }

    }


    .vid_metadata {
        @include flex(row, center, flex-start);
        margin-top: 0.5rem;
        >img {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%;
            border: 2px solid var(--textColor);
            filter: drop-shadow(4px 6px 6px var(--shadowColor));
        }

        h5 {
            font-size: 0.8rem;
            font-weight: bold;
            letter-spacing: 1.2px;

        }

        p {
            font-size: 0.67rem;
            font-weight: bolder;
            letter-spacing: 1.6px;

            .formatted-date {
                &::before {
                    content: "•";
                    margin: 0 4px;
                }
            }
        }

        h6 {
            font-size: 0.7rem;
            font-weight: 300;
            letter-spacing: 1.5px;

        }

        >div {
            padding: .5rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

    }
}